{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 47, "knowledge_revision": 96, "git_revision": "6698f32ec21b26fc83263b6dcecb15d4feaedd5c", "hash": "f5d4d0ad0ef7bb3989282952ed0e2af9", "format-version": 4, "code-base-name": "default", "filename": "ticketing_backend_workspace/ticketing_backend/requirements.txt", "revision_history": [{"96": "6698f32ec21b26fc83263b6dcecb15d4feaedd5c"}]}