{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 45, "knowledge_revision": 92, "git_revision": "f3a74ed7bf36156df9a76abc968d53fe3cb56ba5", "hash": "0a2479e77647453526405ee30491f299", "format-version": 4, "code-base-name": "default", "filename": "ticketing_backend_workspace/ticketing_backend/requirements.txt", "revision_history": [{"92": "f3a74ed7bf36156df9a76abc968d53fe3cb56ba5"}]}